.list {
    list-style: none;
    display: inline-flex;
    margin: initial;
    padding: inherit;
    background-color: white;
}

.item a {
    text-decoration: none;
    background-color: white;
    color: goldenrod;
    font-family: "'Titillium Web', sans-serif";
    font-size: larger;
    padding: 10px 15px;
}

.item {
    text-decoration: none;
    background-color: white;
    color: white;
    display: block;
    padding: 7px 6rem;
    width: -webkit-fill-available;
    align-self: center;
}

.item :hover {
    background-color: black;
    border-radius: 20%;
}

.img {
    width: 80px;
}

.nav-container {
    display: flex;
    justify-content: space-around;
    border-bottom: 5px;
    box-shadow: -5px -2px 17px;
}



